<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.gms.permission.BIND_WALLET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/groceries"
        android:label="@string/app_name"
        android:roundIcon="@drawable/groceries"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".activity_onboarding"
            android:exported="false" />
        <activity
            android:name=".ProductCategoryList"
            android:exported="false" />
        <activity
            android:name=".EditProductActivity"
            android:exported="false" />
        <activity android:name=".OnboardingActivity"
            android:exported="false">
            <!-- Дополнительные настройки для активити, если нужно -->
        </activity>
        <activity
            android:name=".Sellerregistr"
            android:exported="false" />
        <activity
            android:name=".profile_client"
            android:exported="false"
            android:theme="@style/Theme.profile" />
        <activity
            android:name=".search"
            android:exported="false" />
        <activity
            android:name=".categoryAll"
            android:exported="false" />
        <activity
            android:name=".seller_profile"
            android:exported="false"
            android:theme="@style/Theme.profile" />
        <activity
            android:name=".CheckoutSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserOrdersActivity"
            android:exported="false"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".activity_seller_orders"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".product_details"
            android:exported="false" />
        <activity
            android:name=".forgotpass"
            android:exported="false" />
        <activity
            android:name=".Registr"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".buyeractivity"
            android:exported="false"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".add_new_product"
            android:exported="false"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.apiVersion"
            android:value="v2" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDN65oINMymT2IRDn0vslTkIHRQcm1UCxw" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:windowSoftInputMode="stateUnspecified|adjustPan">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>